{# This is a motd file. #}
This node is managed by Ansible. Any changes made in this machine manually will be discarded.
This node's FQDN is {{ ansible_fqdn }}
IP Address is {{ ansible_default_ipv4.address }}
